{%extends 'base.html'%}
{%block body_block%}
<div style="padding-left:300px;padding-top:100px;">
    <div class="card" style="width: 32rem;border:2px solid darkgrey;">
<!--  <img src="..." class="card-img-top" alt="...">-->
      <div class="card-body bg-white">
        <h3 class="card-title" style="font-family:serif;font-size:30px;text-align:center;color:#02198B;font-weight:bold;">{{job.job_title}}</h3></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light" style="text-align:center;height:4rem;"><span style="font-family:serif;font-size:18px;">Company : </span><span style="font-family:serif;font-size:20px;">{{job.company_name}}</span></li>
        <li class="list-group-item bg-light" style="text-align:center;height:4rem;"><span style="font-family:serif;font-size:18px;">Location : </span><span style="font-family:serif;font-size:20px;">{{job.location}}</span></li>
        <li class="list-group-item bg-light" style="text-align:center;height:4rem;"><span style="font-family:serif;font-size:18px;">Salary : </span><span style="font-family:serif;font-size:20px;">{{job.salary}}</span></li>
        <li class="list-group-item bg-light" style="text-align:center;height:4rem;"><span style="font-family:serif;font-size:18px;">Experience : </span><span style="font-family:serif;font-size:20px;">{{job.experience}}</span></li>




      </ul>
    </div>
</div>

{%endblock%}